gsw*/test*
gsw*/lib
gsw*/bin
bin
lib
pyvenv.cfg
coordinates.ser
downloads
mediadownloader/lib
mediadownloader/bin
mediadownloader/*.jpg
mediadownloader/*.jpeg
mediadownloader/*.png
mediadownloader/*.gif
mediadownloader/*.tiff
mediadownloader/*.ser
mediadownloader/*.conf
mediadownloader/etc
mediadownloader/share
*/etc
*/share
*/lib
*/bin